/* stylelint-disable property-no-unknown */
:export {
  menu-background: $layout-slider_bgColor;
  menu-background-dark: $layout-slider_bgDarkColor;
  menu-text: #fff;
  menu-active-text: $layout-slider_active_color;
}

/* stylelint-enable property-no-unknown */