/***
* @基础配置
*/

// 侧边栏背景色
$layout-slider_bgColor: #33444f;
// 暗黑模式下的背景的
$layout-slider_bgDarkColor: #212222;
// 侧边栏悬浮色
$layout-slider_hover_bgColor: #0375bb;
// 侧边栏高亮颜色
$layout-slider_active_color: #00d9ff;
//侧边栏宽度
$layout-slider_width: 220px;
$layout-slider_min_width: 62px;
// 侧边栏字体大小
$layout-slider_font_size: 12px;
// logo标题区的高度
$layout-Logo-height: 60px;
// logo大小
$layout-logo_width: 30px;
$layout-logo_height: 30px;
// 标题
$layout-title_size: 15px;
$layout-title_color: #fff;
// 头部
$layout-header_height: 60px;
$layout-header_hoverbgColor: #e0e0e0;
